* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7effd;
}

.site-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
  -moz-box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
  box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
  background-color: #d95125;
  padding: 5px 10px 10px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.site-filter > .flex {
  width: 100%;
  gap: 5px;
}

.site-filter > .flex label {
  flex-grow: 1;
}

.site-filter > .flex label > select {
  border-radius: 5px;
  padding: 5px;
  background-color: #f3baa8;
  border-color: #8a3014;
}

.content {
  margin-top: 180px;
  padding: 0 15px 100px;
  gap: 20px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.mt-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.auto-cart {
  padding: 15px 10px;
  min-height: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
  -moz-box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
  box-shadow: 0 8px 8px 0 rgba(34, 60, 80, 0.41);
}

.text-green {
  color: #2fb42f;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.text-light-green {
  color: #207520;
}

.text-light-red {
  color: #833232;
}

.car-desc {
  margin: 10px 10px;
  padding: 0 10px;
  font-style: italic;
}
.car-additional span{
  width: 100%;
  display: inline-block;
}

.car-additional p {
  border-bottom: 1px solid grey;
  margin-bottom: 3px;
}

.car-addtional-head {
  max-width: 100px;
}

.auto-cart > a {
  display: block;
  word-break: break-word;
}
.auto-cart-pros {
  border: 1px solid grey;
  border-top: none;
  padding: 10px 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 10px 0;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: hsl(15, 71%, 50%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

.cat-img {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.cat-img img {
  max-width: 100%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}